// == Basic colors == //
$blue: rgba(52, 172, 224, 1);
$white: rgba(247, 241, 227, 1);
$grey: rgba(170, 166, 157, 1);

// == Transparent colors == //
$hover-color: rgba(255, 255, 255, 0.89);

// == Basic sizes == //
$status-icon: 25px;
$icon: 40px;

// == Wallpapers == //
$light-bg: "../assets/wallpapers/Windows-11-light.jpg";
$dark-bg: "../assets/wallpapers/Windows-11-dark.jpg";